Django>=3.2,<3.3
wagtail~=2.16.2
boto3==1.18.23
django-compressor==2.4.1
django-debug-toolbar==3.2.2
django-heroku==0.3.1
django-storages==1.11.1
dj-database-url
dj-static
gunicorn==20.0.4
psycopg2==2.9.1
psycopg2-binary==2.8.6
wagtail-font-awesome-svg==0.0.2
whitenoise==5.3.0
django-widget-tweaks==1.4.8
wagtail-robots==0.3.1
wagtail-modelchooser==2.13.1
django-redis
wagtail-cache==1.1.0
wagtailgeowidget==6.1.0
wagtailvideos==2.11.0
wagtail_honeypot==1.0.0